*{
    padding: 0px;
    margin: 0px;
}

/* Estilos formulario de inicio de sesion */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.form-back{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 400px;
    box-shadow: 1px 5px 20px black;
    border-radius: 10px;
    background-color:rgba(95, 95, 95, 0.658);
    color: antiquewhite;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.input-text{
    margin: 10px;
    width: 60%;
    height: 50px;
    font-size: 20px;
    font-weight:600;
    padding-left: 10px;
}

.recordar{
    margin: 10px;
    display: inline-block;
}

.recordar label{
    font-size: 20px;
    font-weight: 500;
    margin-right: 10px;
}

.recordar input[type="checkbox"]{
    width: 20px;
    height: 20px;
    border-radius: 3px;
    margin-left: 10px;
    vertical-align:text-bottom
}


#iniciar, #registrar{
    margin-top: 40px;
    background-color: rgb(20, 20, 20);
    color: white;
    padding: 5px;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

#iniciar {
    margin-right: 10px;
    background-color: rgb(240, 4, 4);
}

#registrar:hover {
    background-color: rgb(36, 36, 36);
    transform: scale(1.05);
    transition: all 500ms;
}



#iniciar:hover {
    background-color: rgb(192, 2, 2);
    transform: scale(1.05);
    transition: all 500ms;
}

.agg:hover{
    background-color: black;
    transition: all 500ms;
}

.form-back h1{
    margin-top: 10px;
}
/* Fin de estilos formulario de inicio de sesión */


/* Inicio estilos formulario de registro */
#form-reg{
    height: 500px;
}

.vinculo{
    color: white;
    margin-top: 15px;
    text-decoration: none;
}

.vinculo:hover{
    transform: scale(1.05);
    transition: all 300ms;
}
/*-- Fin de estilos registrar --*/


/* Inicio estilos Header */
header{
    display: flex;
    background-color: black;
    height: 100px;
    width: 100%;
    justify-content:space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 20px;
    box-shadow: 0px 4px 4px rgba(165, 1, 1, 0.651);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.logo img{
    width: 70px;
    height: 70px;
    float: left;
    border-radius: 100%;
    border: 1px solid red;
}

ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style: none;
    
}

ul li{
    margin-left: 50px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

#busqueda{
    height: 50px;
    width: 20%;
    border-radius: 5px;
    padding-left: 10px;
    margin-right: 5px;
}

button{
    width: 50px;
    height: 50px;
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
}

#icono-busqueda {
    font-size: 18px !important; 
}
/* Fin estilos Header */

.body_registro {
    background-image: url(./statics/gym3.png);
    width: 100% !important;
    height: 100% !important; /* Altura del viewport */
    background-size: cover; /* Ajusta la imagen para cubrir todo el div */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Posición centrada en el div */
}

/* Inicio estilos seccion mis maquinas*/
.contenedor-busqueda {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contenedor h1{
    text-align: center;
    margin-top: 140px;
    color: white;
}

#cont-maquinas, #mis-maquinas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.card{
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 700px;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    margin-left: 30px;
    box-shadow: 0px 2px 8px black;
    overflow: hidden;
    border-radius: 15px;
    border: 4px solid rgba(175, 2, 2, 0.884);
}

.card img{
    width: 100%;
    height: 350px;
    margin-bottom: 10px;
}

.card button{
    width: 100px;
    font-weight: 700;
    margin: 0 auto;
}

.control{
    display: flex;
}

.control p{
    font-weight: bold;
    border: 1px solid black;
    padding-left: 30px;
    padding-right: 30px;
}

.maquinas-p{
    font-size: 40px;
    margin-top: 20vh;
    font-weight: bold;
    color: white;
}

.mas, .menos, .contador {
    height: 35px;
    font-size: 20px;
}

.kg{
    font-size: 20px;
}
/* Fin estilos seccion mis maquinas*/


/*Inicio estilos pantalla de cargando*/
#cargando {
    height: 100vh;
    width: 100%;
    position: relative; 
    text-align: center; 
    background-color: rgb(255, 255, 255);
}

#cargando p {
    font-size: 30px;
    font-weight: bold;
    position: absolute; 
    top: 50%; 
    left: 0;
    right: 0;
    transform: translateY(-50%); 
    margin: 0 auto; 
}


.none{
    display: none !important;
}

.block{
    display: block !important;
}
/*Fin estilos pantalla de cargando*/

/* Inicio estilos para sweet alert */
.custom-alert-class {
    width: 400px !important; 
    height: 250px !important; 
    font-size: 15px !important;
    border: 3px solid rgba(187, 13, 13, 0.726) !important;
}

.custom-alert-content-class {
    width: 100% !important;
    height: 100% !important;
    font-size: 15px !important;
}
/* Fin estilos para sweet alert */


/* Inicio estilos para seccion carrito */
.tabla-calculo {
    display: flex;
    justify-content: center;
}

.tabla {
    width:80%;
    table-layout: fixed;
    border-collapse: collapse;
    color: white;
    margin-bottom: 2rem;
    empty-cells: hide;
    border-radius: 10px;
}

.titulo-tabla {
    font-size: 1.5rem;
    padding: .5rem;
}

.border-top-left {
    border-top-left-radius: 10px;
}

.border-top-right {
    border-top-right-radius: 10px;
}

.border-bottom-right {
    border-bottom-right-radius: 10px;
}

.border-bottom-left {
    border-bottom-left-radius: 10px;
}

th {
    font-size: 1.1rem;
    background: rgb(228, 1, 1);
}

th, td, tr {
    border: var(--border-table);
    text-align: center;
    padding: .4rem 0;
}

td {
    background: hsla(210, 40%, 90%, .9);
    color: black;
}

.precio-tabla::before {
    content: 'ARS$';
    padding-right: 0.4rem;
}

.button {
    margin: 0 .4rem;
    border: var(--border-table);
    background: red;
    color: white;
    cursor: pointer;
}

.negrita {
    font-weight: bold;
}

.none {
    background: transparent;
    border: none;
}
/* Fin estilos para seccion carrito */

/* Inicio estilos para seccion productos */
.cartola {
    height: 575px;
    width: 230px;
    border-radius: 0.35rem;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: red;
    transition: transform 0.1s;
    overflow: hidden;
    margin: 1rem;
    margin-top: 80px;
}

.cartola:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    box-shadow: 0 0 2rem hsla(240, 100%, 90%, 0.5);
}
  /* Imagen */
.contenedor-img {
    border-radius-top-left: .35rem;
    height: 250px;
    overflow: hidden;
}

img {
    width: 100%;
}

  /* Nombre y descripción del producto */
.div-info {
    flex: 1;
    border-bottom: var(--border);
    overflow: hidden;
}

.nombre-prod {
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    padding: 0.2rem 0;
}

.separador {
    width: 80%;
    margin: .2rem auto;
    border: none;
    border-top: var(--border);
}

.descripcion-prod {
    margin: 0;
    font-size: 16.5px;
    padding: 0.2rem 1rem;
    overflow: hidden;
    opacity: .7;
}
  /* Precio y Boton Carrito */
.div-precio-boton {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .5rem;
}

.precio {
    margin: 0 .5em;
}

.precio::before {
    content: 'ARS$';
    padding-right: 0.3rem;
}

.boton {
    background: red;
    cursor: pointer;
    border: var(--border);
    font-size: 1rem;
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 1px 3px hsl(0, 100%, 0%, 0.15);
}

.boton:hover {
    color: rgba(255, 255, 255, .8);
    background: red;
    box-shadow: 1px 1px 3px hsl(0, 100%, 0%, 0.25);
}

.boton::after {
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    background: url(https://cdn-icons-png.flaticon.com/512/1656/1656456.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.boton:hover::after {
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    background: url(https://cdn-icons-png.flaticon.com/512/1656/1656456.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.carrito {
    width: 18px;
}

  /* Contenedor de todos los productos */
.contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* Inicio estilos para seccion productos */

/* Inicio Estilos contacto */
.main-contac h2 {
    display: flex;
    justify-content: right;
    margin-right: 400px;
    margin-top: 250px;
    color: white;
}



.main-contac .contenedor {
    display: flex;
}

.main-contac .contenedor .mapa {
    margin-left: 90px;
    border-radius: 30px;
}

.main-contac .contenedor .redes {
    display: flex;
    justify-content: right;
    margin-right: 275px;
    flex: 2;
}

.main-contac .contenedor .redes .red {
    display: flex;
    margin: 40px;
    height: 45px;
}

.main-contac .contenedor .redes .red:hover {
    transform: scale(1.1);
    transition: 1s;
}

@media (max-width: 768px) {
    .main-contac {
        background-image: none;
        height: auto;
    }
    
    .main-contac h2 {
        text-align: center !important;
        margin: 0 auto;
    }
    
    .main-contac .contenedor {
        flex-direction: column;
        align-items: center;
    }
    
    .main-contac .contenedor .mapa {
        margin: 20px 0;
        border-radius: 10px;
        width: 100%;
        height: 300px;
    }
    
    .main-contac .contenedor .redes {
        justify-content: center;
        margin: 20px 0;
    }
    
    .main-contac .contenedor .redes .red {
        margin: 10px;
        height: 30px;
    }
    
    .main-contac .contenedor .redes .red:hover {
        transform: scale(1.1);
        transition: 1s;
    }
}
/* Fin Estilos contacto */

/* Inicio Estilo servicios */
.container {
    text-align: center;
}

.fade-in-out {
    animation: fadeInOut 3s infinite;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

h1 {
    color: white;
    font-size: 3rem;
}
/* Fin Estilos servicios */

.menu-toggle img {
    display: none; /* Ocultar la imagen dentro del botón de hamburguesa en versiones de escritorio */
}

@media only screen and (max-width: 600px) {

    .contenedor-busqueda {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    input[type="text"], #email, #contraseña {
        height: 29.5px !important;
        width: 50% !important;
        margin-bottom: 10px;
        border-radius: 5px;
        margin-right: 3px;
    }

    #email,#contraseña, #usuario, #nombre{
        height: 40px !important;
    }

    .form-back h1 , #form-reg h1{
        font-size: 35px;
    }

    #btn-busqueda {
        width: 7.5% !important;
        height: 29.5px !important;
        border-radius: 5px;
    }

    .card {
        height: 490px;
        width: 330px;
        margin-left: 0px;
    }

    .card p {
        font-size: 11.5px;
    }

    .card img {
        height: 250px;
    }

    .divBoton button {
        height: 30px;
    }

    .cardMisMaquinas {
        height: 600px;
    }

    .cardMisMaquinas button, .contador {
        height: 30px;
    }

    .contador {
        font-size: 20px !important;
    }

    h1 {
        font-size: 40px;
    }

    h4 {
        font-size: 15px;
    }

    .maquinas-p {
        font-size: 20px; 
    }
}

/*Media query para menu hamburguesa */
@media screen and (max-width: 768px) {
    .menu ul {
        display: none; /* Inicialmente oculto */
        position: absolute;
        top: 100.41px;
        left: 130px;
        width: 80%;
        background-color: #131313;
        text-align: center;
        box-shadow: 5px 5px 5px #c00202;
        animation-name: moverMenu;
        animation-duration: 0.2s;
        animation-timing-function: ease-in-out;
    }

    @keyframes moverMenu {
        0% {
            transform: translateX(1000px);
        }
        100% {
            transform: translateX(0px);
        }
    }

    .menu ul.show {
      display: block; /* Mostrar cuando la clase 'show' está presente */
    }

    .menu li {
        margin: 10px 0;
    }

    .menu li a{
        color: white;
    }

    .menu-btn {
        display: block;
    }

    .menu-btn .btn-line {
        width: 25px;
        height: 3px;
        background-color: #c00202;
        margin: 5px;
    }

    .menu ul li:hover{
        background-color: #c00202;
    }

    .body_registro {
        background-image: url(./statics/gym3.png);
        width: 100%;
        height: 100vh; /* Altura del viewport */
        background-size: cover; /* Ajusta la imagen para cubrir todo el div */
        background-repeat: no-repeat; 
    }
    
}